In [0]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import CategoricalNB

***Apply Naïve Bayes classifier for predicting the feature, “Inflated”. Calculate the training set error.***

In [0]:
df=pd.read_csv('NB.csv')

In [0]:
df =df.convert_dtypes()

In [0]:
df.columns

Index(['Color', 'Size', 'Act', 'Age', 'Inflated'], dtype='object')

In [0]:
print(df.columns)

Index(['Color', 'Size', 'Act', 'Age', 'Inflated'], dtype='object')

In [0]:
df.head()

    Color   Size      Act    Age Inflated
0  Yellow  Small  Stretch  Adult        T
1  Yellow  Small  Stretch  Child        T
2  Yellow  Small      Dip  Adult        T
3  Yellow  Small      Dip  Child        T
4  Yellow  Large  Stretch  Adult        T

In [0]:
dfv=df

In [0]:
X=dfv.iloc[:,:4]
Y=dfv.iloc[:, 4]
X=np.array(X)
Y=np.array(Y)

In [0]:
Y

array(['T', 'T', 'T', 'T', 'T', 'F', 'F', 'F', 'T', 'F', 'F', 'F', 'T',
       'F', 'F', 'F'], dtype=object)

In [0]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['colenco']=le.fit_transform(df['Color'])
df['sizeenco']=le.fit_transform(df['Size'])
df['actenco']=le.fit_transform(df['Act'])
df['agenco']=le.fit_transform(df['Age'])

In [0]:
df.drop(columns=['Color','Size','Age','Act'],inplace=True)

In [0]:
dfv=df

In [0]:
dfv.head()

  Inflated  colenco  sizeenco  actenco  agenco
0        T        1         1        1       0
1        T        1         1        1       1
2        T        1         1        0       0
3        T        1         1        0       1
4        T        1         0        1       0

In [0]:
X=dfv.iloc[:,1:5]
Y=dfv.iloc[:,0]
X=np.array(X)
Y=np.array(Y)

In [0]:
Y

array(['T', 'T', 'T', 'T', 'T', 'F', 'F', 'F', 'T', 'F', 'F', 'F', 'T',
       'F', 'F', 'F'], dtype=object)

In [0]:
cnb=CategoricalNB()

In [0]:
cnb.fit(X ,Y)
y_pred = cnb.predict(X)

In [0]:
k=0
for i in range(len(Y)):
  if Y[i]!=y_pred[i]:
    k+=1
    print(k)

1
2

In [0]:
from sklearn import metrics
print('Accuracy:',metrics.accuracy_score(Y,y_pred))
print('Confusion Matrix\n',metrics.confusion_matrix(Y,y_pred))

Accuracy: 0.875
Confusion Matrix
 [[9 0]
 [2 5]]

In [0]:
solo=[1,0,0,0]
solo=[solo]

In [0]:
predicted =cnb.predict(solo)

In [0]:
predicted

array(['F'], dtype='<U1')